<header style='background: black; height: 100px; padding: 30px 30px'>
    <nav style='gap:10px; color:cornsilk; display: flex; justify-content:space-between; '>
        <div>
            <div id="allNews" onclick="window.location.href = '/news/all'" style='cursor: pointer;'>ALL NEWS</div>
            <div id='createNews' onclick="window.location.href = '/news/create/news'" style='cursor: pointer;'>CREATE
                NEWS
            </div>
        </div>
        <div style='gap:10px; color:cornsilk; display: flex; justify-content:end; align-items: center;'>
            <div id="Profile" onclick="openProfile()" style='cursor: pointer;'>PROFILE</div>
            <div id="authorization" onclick="window.location.href = '/signin'" style='cursor: pointer;'>SIGN IN</div>
        </div>
    </nav>
</header>

<script>

    const idUser = getCookie('idUser');
    if (idUser) {
        document.getElementById('createNews').style.display = 'block';
    } else { document.getElementById('createNews').style.display = 'none'; }

    function openProfile() {
        window.location.href = `/users/profile?idUser=${idUser}`;
    }

    if (idUser) {
        document.getElementById('Profile').style.display = 'block';
        document.getElementById('authorization').style.display = 'none';

    } else {
        document.getElementById('Profile').style.display = 'none';
        document.getElementById('authorization').style.display = 'block';
    }
</script>